@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 1vw;
    outline: none;
    background: none;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1vw;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1vw;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/770LHl6UQCQ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form {
    width: 30%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.block {
    position: relative;
}

a {
    position: absolute;
    top: 2vw;
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: invert(1) brightness(100);
}

#control {
    right: 1vw;
    background-image: url('https://img.icons8.com/material-outlined/256/visible.png');
}

#control.view {
    background-image: url('https://img.icons8.com/material-outlined/256/closed-eye.png');
}

#generate {
    right: 4vw;
    background-image: url('https://img.icons8.com/ios-glyphs/256/refresh.png');
}

input {
    border-radius: 0;
    border-bottom: .1vw solid rgba(255, 255, 255, 0.5);
    font-size: 2vw;
    transition: .3s ease-in-out;
}

input::placeholder {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

input:focus {
    box-shadow: 0 0 .5vw rgba(172, 255, 47, .5);
}

input[type='button'] {
    border-radius: .5vw;
    background: rgba(255, 255, 255, 0.5);
    font-size: 2vw;
    text-transform: uppercase;
    padding: 1vw 3vw;
}

input[type='button']:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
}

input[type='button']:active {
    scale: .95;
}